 body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: black;
    color: lightgray;
    font-family: cursive;
 }

 .container{
    width: 400px;
    position: relative;
 }

 .conter{
    font-size: 40px;
 }

 .Loading-bar-back{
    position: absolute;
    height: 8px;
    background-color: lightgrey;
    width: 100%;
    border-radius: 5px;
    border: none;
 }
 .Loading-bar-front{
    position: absolute;
    height: 8px;
    background-color: orangered;
    width: 100%;
    border-radius: 5px;
    border: none;
 }