body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: pink;
}

h1{
    font-size: 50px;
    font-family: Impact;
    letter-spacing: 4px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,.3);
    white-space: nowrap;
}

.cards-container{
    text-align: center;
}
.btn{
    padding: 30px 50px;
    background-color: white;
    border: none;
    margin: 10px;
    min-width: 200px;
    font-size: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    cursor: pointer;
   /*  background-image: url("/20_drum-kits/img/snare.png"); */
    background-size: cover;
    color: white;
    font-family: cursive;
    text-shadow: 2px 2px 4px rgba(0,0,0,.3);
    text-transform: capitalize;

}

.btn:hover{
    color: pink;
}
.btn:active{
    background-size: 105%;

}