body{
    margin: 0;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: cursive;
    color: white;

}


.container{
    display: flex;
    text-align: center;
    
}

.mouse-event{
    border: solid 1px lightgray;
    margin: 40px;
    min-width: 150px;
    position: relative;
    min-height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

@media (max-width: 500px) {
    .container{
        flex-direction: column;
    }
}

h4{
    position: absolute;
    top: -70px;
    white-space: nowrap;
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 100;
}






/* .XBox{
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.YBox{
    display: flex;
    justify-content: center;
flex-direction: column;

    align-items: center;
text-align: center;

}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    height: 100px;
    width: 100px;
} */