body{
    padding: 0;
    margin: 0;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

h2{
font-size: 2rem;
color: aliceblue;
}

.section{
    text-align: center;
}

.btn{
    font-family: 5rem;
    border: none;
    background-color: rgb(255,255,255,.3);
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    filter: grayscale();
    transition: filter .2s ease-in-out;
}

.btn:hover{
    filter: grayscale(0);


}
.emoji-name{
    font-weight: 600;
    color: darkblue;
}