body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: salmon;
    font-family:sans-serif;
}

.container{
background-color: whitesmoke;
padding: 20px;
border-radius: 10px;
box-shadow: 4px 4px 8px rgba(0,0,0,.3);
width: 500px;
margin: 5px;
}

h2{
    text-align: center;
    margin: 0;

}

input{
    width: 100%;
    padding: 5px;
box-sizing: border-box;
margin-bottom: 10px;
    
}

.btn{
    width: 100%;
    padding: 5px;
box-sizing: border-box;
color: white;
background-color: rgb(32, 203, 60);
border: none;
border-radius: 5px;
cursor: pointer;
}

