body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
}


.image-container {
    text-align: center;
}

.image-container img {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .3);
    background-color: gray;
    width: 300px;
    height: 300px;
    filter: blur(2px);
    border: 5px solid black;

}

.image-container img:hover {
    filter: blur(0px);

}


.btn {
    background-color: slateblue;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .3);
    cursor: pointer;

}

.btn:hover {
    opacity: 0.9;
}