body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;

    background: linear-gradient(to left bottom ,lightgreen , lightblue);
    font-family: monospace;
}

.container{
    background-color: rgba(255,255,255,.3);
    min-width: 500px;
    padding: 20px;
    margin: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0, .3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}

.heading{
    font-size: 30px;
}

.input{
    margin: 10px ;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgba(255,255,255,.7);
    border-color:  rgba(255,255,255, .5);
}

.btn{
    background-color: lightgreen;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-color:  rgba(255,255,255, .5);
    border-radius: 5px;
    font-size: 20px;
    box-shadow:  0 0 4px rgba(0,0,0, .3);
    cursor: pointer;
}

.btn:hover{
    box-shadow:  0 0 8px rgba(0,0,0, .3);
    transition: all 300ms ease;
    
}
.info-text{
    font-size: 20px;
    font-weight: 500;
}