body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: yellow;
    font-family: cursive;
}

.stats-container{
    margin: 20px;
    border: 2px solid green;
    min-width: 200px;
    height: 100px;
    padding: 20px;
    position: relative;
}

.icon{
    position: absolute;
     top: -30px;
    transform: translateX(-50% );
}

.counter{
    font-size: 50px;
    color: green;

}
h4{
    white-space: nowrap;
}


@media ( max-width:600px) {
    body{
        flex-direction: column;
    }
}