body{
    margin: 0;
    font-family: sans-serif;
}

.bg-image{
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1738279494075-5183d2eadc05?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 160%;
    background-position: center;
    background-attachment: fixed;
}

.container{
    padding: 100px;
}

@media (max-width: 800px) {
    .container{
        padding: 10px;
    }
}

h1{
    font-size: 50px;
}
p{
    color: gray;
}