body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background: url(/9_digital_clock/img/anime-girl-watching-the-sunset-and-her-cute-cat-wallpaper-1920x1080_48.jpg);
    background-size: cover;
    overflow: hidden;

}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: white;
}

.clock {
    display: flex;
}

.clock div {
    margin: 5px;
    position: relative;
}

.clock div span {
    width: 100px;
    height: 80px;
    background-color: slateblue;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkblue;

}

.clock #am-pm {
    position: absolute;
    bottom: 0;
    background: green;
    width: 60px;
    height: 30px;
    font-size: 20px;
}