/* body {
    margin: 0;
    padding: 0;
    background-color: rgb(239, 134, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: cursive;
    flex-direction: column;
}


.card-container {
    height: 300px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.436);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .3);
}

input {
    height: 100px;
    width: 400px;
    margin: 20px 50px;

}

.Charaters {
    display: flex;
    justify-content: space-between;
}

.Charaters h3 {
    margin: 20px 40px;
    color: rgba(56, 51, 51, 0.389);
} */


body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: salmon;
    font-family: cursive;
}

.card-container {
    background-color: rgba(255, 182, 193, 0.516);
    width: 400px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 30px 30px 10px rgba(0, 0, 0, .3);
}

h2 {
    color: rgba(0, 0, 0, 0.616);
}

.textarea {
    background-color: rgba(255, 255, 255, 0.525);
    resize: none;
    width: 100%;
    height: 100px;
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px rgba(169, 169, 169, 0.481);


}


.counter-container {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;

}

.counter-container p {
    font-size: 18px;
    color: rgba(128, 128, 128, 0.53);

}

.total-counter {
    color: rgba(105, 90, 205, 0.552);
}

.remaining-counter {
    color: rgba(255, 68, 0, 0.536);
}