body {
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;

}

.gallery-container {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: perspective(2000px) rotateY(0deg);
    transition: transform .5s;
}



.gallery-container span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}

.gallery-container span img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

}

.btn-container {
    position: relative;
    width: 80%;

}


.btn {
    position: absolute;
    bottom: -200px;
    background-color: slateblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;

}

.btn:hover {
    filter: brightness(1.5);
}

#prev {
    left: 20%;
}

#next {
    right: 20%;
}